html{
  text-align:center;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9c7ee8+0,4e1e9a+100 */
  background: #9c7ee8; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #9c7ee8 0%, #4e1e9a 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#9c7ee8), color-stop(100%,#4e1e9a)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #9c7ee8 0%,#4e1e9a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #9c7ee8 0%,#4e1e9a 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #9c7ee8 0%,#4e1e9a 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, #9c7ee8 0%,#4e1e9a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c7ee8', endColorstr='#4e1e9a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: #fff;
  font-family: Lato, sans-serif;
  font-size:1.5em;
}

h1{
  font-family: "Luckiest Guy";
  font-size:4em;
  text-shadow: .05em .05em 0 #3D1D6B;
  letter-spacing:.05em;
}

.render{
  border: 2px solid #fff;
  display:inline-block;
  margin-top:2em;
  padding:.5em 1em;
  cursor: pointer;
  transition: all .2s ease;
}

.render:hover{
  background: #fff;
  color: #3D1D6B;
}
